/* Global Variables */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --VeryDarkBlue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  --BrightBlue: hsl(224, 93%, 58%);
  --ModerateCyan: hsl(170, 45%, 43%);
  --LightGrayishBlue: hsl(240, 75%, 98%);
  --LightGray: hsl(0, 0%, 75%);
}

body {
  font-weight: 400;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  display: inline-block;
  font-family: "Raleway", sans-serif;
}

li + li {
  margin: 1em;
}

header a {
  margin-top: 1em;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: var(--Desaturated-Blue);
}

.logo {
  margin-left: 2em;
  /* width:  */
}

/* Mobile 1st */
body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

.hero--img {
  margin: 4em auto;
  width: 90%;
  display: block;
}

/* How to get the headline effect "Funnel look" */

.hero--des {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  margin-top: -10%;
}

h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  line-height: 1.2em;
}

.hero--copy {
  text-align: center;
  line-height: 1.2em;
  color: var(--LightGray);
}

.hero--input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

/* How to make the button as big as input field? */

.hero--btn {
  width: 100%;
  padding: 10px;
  background-color: var(--BrightBlue);
  color: #fff;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  border: 1px solid var(--BrightBlue);
  font-size: 1.5em;
  margin-bottom: 3em;
}

/* How to get the background effect */

.color-box--mobile {
  padding-top: 2em;
  padding-bottom: 7em;
  background-color: var(--LightGrayishBlue);
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.section2--content {
  margin-top: 2em;
}

.section2--img {
  display: block;

  width: 90%;
  margin: 7em auto;
}

.section2--headline {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  font-style: var(--VeryDarkBlue);
}

.section2--copy {
  text-align: left;
}

/* How to make this link look less messed up? */
.section2--link {
  color: var(--ModerateCyan);
  display: block;
  text-align: center;
  text-decoration: underline;
}

.section2--link span img {
  width: 20px;
}

.section2--testimonial {
  width: 75%;
  background-color: #fff;
}
.section2--link-container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 3em;
}

.section2--testimonial-box {
  background-color: #ffff;
  margin-top: 2em;
  padding: 2em;
  box-shadow: 1px 2px 10px var(--LightGray);
  border-radius: 10px;
}

.section2--icon-img {
  display: block;
  width: 30px;
}

/* Why is my testimonial footer messed up? */
.section2--testimonial-img {
  border-radius: 50%;
  width: 30px;
  align-self: flex-start;
}

.section2--testimonial-name > span {
  font-weight: 700;
}

.section2--testimonial-name {
  font-size: rem;
}

.section2-testimonial__flex {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: baseline; */
}

.section3 {
  background-color: var(--Desaturated-Blue);
  padding: 3em 3em;
}

.section3--headline {
  color: #fff;
  text-align: center;
}

.section3--copy {
  color: #fff;
  text-align: center;
}

.section3--input,
.section3--btn {
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 15px;
}

.section3--btn {
  color: #fff;
  font-size: 1rem;
  background-color: var(--BrightBlue);
  border: 1px solid var(--BrightBlue);
}

/* Issues with footer */

/* Why does this color do no apply to logo in footer? */
.footer a {
  color: #fff;
}
.footer {
  background-color: var(--VeryDarkBlue);
  color: #fff;
  padding: 3em 3em;
}

.footer img {
  margin-bottom: 2em;
}

.footer-phone,
.footer-mail {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.footer li {
  color: #fff;
}

.footer ul {
  display: flex;
  flex-direction: column;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.footer .social-icons a {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  text-align: center;
}
.footer .social-icons a + a {
  margin: 1em;
}

@media (min-width: 500px) {
  h1,
  h2,
  .section2--headline,
  .section2--link,
  p {
    text-align: left;
  }

  header a {
    font-size: 1.2rem;
  }
  .hero--des {
    margin-top: 1em;
    display: flex;
  }

  .hero--img {
    order: 2;
  }

  .hero--input {
    align-items: baseline;
  }
  .hero--input-items {
    display: flex;
  }
  .section2--img {
    order: 2;
  }
  .section2--testimonial-box {
    width: 70%;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
